body {
    background-color: #333;
}

h1 {
    font-size: 35px;
    font-weight: b;
    color: #fff;
}

.controls {
    margin: 20px 0;
    color: #fff;
    font-size: 20px;
}

.main-img {
    width: 300px;
}
